{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <h1><strong>Danishyar ToDo App</strong></h1>
      </div>
      <div class="row justify-content-center">
        {% block content %} {% endblock %}
      </div>
    </div>
    <!-- her we don't use the java script of bootstrap becuase it's has slim and slim dosn't work well with ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/todo.js' %}"></script>
  </body>
</html>
